.container {
  border-width: 0;
  border-radius: 10px;
  margin: 0 auto;
  width: 600px;
  height: 500px;
  background-color: white;
  padding: 0 4rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background:
    linear-gradient(115deg, rgba(36, 36, 36, 0.603), rgba(21, 21, 22, 0.464)),
    url("../assets/ezgif.com-video-to-gif-converted.gif") no-repeat center
      center/cover;
}
.weather {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
h1 {
  color: white;
  text-align: center;
  padding: 40px 0;
}
input {
  border-radius: 5px;
  padding: 10px;
  color: black;
  outline: none;
  border: none;
  flex: 1;
}
button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: red;
  color: white;
}
button:hover {
  background-color: brown;
  cursor: pointer;
}

#weatherData {
  text-align: center;
  margin: 1rem auto;
}
.inner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px auto;
}
